[Unit]
Description=File Scanning Framework (FSF-Server) Service
After=network.target 

[Service]
Type=forking
User=fsf
Group=fsf
WorkingDirectory=/
PIDFile=/run/fsf/fsf.pid
ExecStart=/opt/fsf/fsf-server/main.py start
ExecStop=/opt/fsf/fsf-server/main.py stop
ExecReload=/opt/fsf/fsf-server/main.py restart

[Install]
WantedBy=multi-user.target

